
*.jar
.idea/workspace.xml
.idea/libraries/stanford_corenlp_4_5__2_.xml
.idea/SophomoreWorkshopLab.iml
.idea/workspace.xml
fileReader/src/.DS_Store
fileReader/src/nlpLib/.DS_Store
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/build.xml
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/CoreNLP-to-HTML.xsl
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/corenlp.sh
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/input.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/input.txt.out
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/input.txt.xml
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/LIBRARY-LICENSES
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/LICENSE.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/Makefile
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/example.properties
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/goldnames.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/goldplaces.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/names.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/otherpeople.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/places.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/presidents.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/stopwords.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/pom-java-11.xml
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/pom-java-17.xml
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/pom.xml
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/README.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/RESOURCE-LICENSES
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sample-project-pom.xml
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/SemgrexDemo.java
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/ShiftReduceDemo.java
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/StanfordCoreNlpDemo.java
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/StanfordDependenciesManual.pdf
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sutime/british.sutime.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sutime/defs.sutime.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sutime/english.holidays.sutime.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sutime/english.sutime.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sutime/spanish.sutime.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/tokensregex/color.input.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/tokensregex/color.properties
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/tokensregex/color.rules.txt
fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/tokensregex/retokenize.txt
fileReader/src/stanford-corenlp-4.5.7/build.xml
fileReader/src/stanford-corenlp-4.5.7/CoreNLP-to-HTML.xsl
fileReader/src/stanford-corenlp-4.5.7/corenlp.sh
fileReader/src/stanford-corenlp-4.5.7/input.txt
fileReader/src/stanford-corenlp-4.5.7/input.txt.out
fileReader/src/stanford-corenlp-4.5.7/input.txt.xml
fileReader/src/stanford-corenlp-4.5.7/LIBRARY-LICENSES
fileReader/src/stanford-corenlp-4.5.7/LICENSE.txt
fileReader/src/stanford-corenlp-4.5.7/Makefile
fileReader/src/stanford-corenlp-4.5.7/patterns/example.properties
fileReader/src/stanford-corenlp-4.5.7/patterns/goldnames.txt
fileReader/src/stanford-corenlp-4.5.7/patterns/goldplaces.txt
fileReader/src/stanford-corenlp-4.5.7/patterns/names.txt
fileReader/src/stanford-corenlp-4.5.7/patterns/otherpeople.txt
fileReader/src/stanford-corenlp-4.5.7/patterns/places.txt
fileReader/src/stanford-corenlp-4.5.7/patterns/presidents.txt
fileReader/src/stanford-corenlp-4.5.7/patterns/stopwords.txt
fileReader/src/stanford-corenlp-4.5.7/pom-java-11.xml
fileReader/src/stanford-corenlp-4.5.7/pom-java-17.xml
fileReader/src/stanford-corenlp-4.5.7/pom.xml
fileReader/src/stanford-corenlp-4.5.7/README.txt
fileReader/src/stanford-corenlp-4.5.7/RESOURCE-LICENSES
fileReader/src/stanford-corenlp-4.5.7/sample-project-pom.xml
fileReader/src/stanford-corenlp-4.5.7/SemgrexDemo.java
fileReader/src/stanford-corenlp-4.5.7/ShiftReduceDemo.java
fileReader/src/stanford-corenlp-4.5.7/StanfordCoreNlpDemo.java
fileReader/src/stanford-corenlp-4.5.7/StanfordDependenciesManual.pdf
fileReader/src/stanford-corenlp-4.5.7/sutime/british.sutime.txt
fileReader/src/stanford-corenlp-4.5.7/sutime/defs.sutime.txt
fileReader/src/stanford-corenlp-4.5.7/sutime/english.holidays.sutime.txt
fileReader/src/stanford-corenlp-4.5.7/sutime/english.sutime.txt
fileReader/src/stanford-corenlp-4.5.7/sutime/spanish.sutime.txt
fileReader/src/stanford-corenlp-4.5.7/tokensregex/color.input.txt
fileReader/src/stanford-corenlp-4.5.7/tokensregex/color.properties
fileReader/src/stanford-corenlp-4.5.7/tokensregex/color.rules.txt
fileReader/src/stanford-corenlp-4.5.7/tokensregex/retokenize.txt
out/production/SophomoreWorkshopLab/.idea/libraries/stanford_corenlp_4_5__2_.xml
out/production/SophomoreWorkshopLab/.idea/SophomoreWorkshopLab.iml
out/production/SophomoreWorkshopLab/.idea/workspace.xml
out/production/SophomoreWorkshopLab/fileReader/src/FileReaderEJR.class
out/production/SophomoreWorkshopLab/fileReader/src/java/FileReaderEJR.class
out/production/SophomoreWorkshopLab/fileReader/src/java/readFile.class
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/build.xml
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/CoreNLP-to-HTML.xsl
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/corenlp.sh
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/input.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/input.txt.out
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/input.txt.xml
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/LIBRARY-LICENSES
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/LICENSE.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/Makefile
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/example.properties
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/goldnames.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/goldplaces.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/names.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/otherpeople.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/places.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/presidents.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/patterns/stopwords.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/pom-java-11.xml
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/pom-java-17.xml
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/pom.xml
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/README.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/RESOURCE-LICENSES
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sample-project-pom.xml
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/StanfordDependenciesManual.pdf
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sutime/british.sutime.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sutime/defs.sutime.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sutime/english.holidays.sutime.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sutime/english.sutime.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/sutime/spanish.sutime.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/tokensregex/color.input.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/tokensregex/color.properties
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/tokensregex/color.rules.txt
out/production/SophomoreWorkshopLab/fileReader/src/nlpLib/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7/tokensregex/retokenize.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/build.xml
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/CoreNLP-to-HTML.xsl
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/corenlp.sh
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/input.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/input.txt.out
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/input.txt.xml
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/LIBRARY-LICENSES
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/LICENSE.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/Makefile
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/patterns/example.properties
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/patterns/goldnames.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/patterns/goldplaces.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/patterns/names.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/patterns/otherpeople.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/patterns/places.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/patterns/presidents.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/patterns/stopwords.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/pom-java-11.xml
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/pom-java-17.xml
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/pom.xml
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/README.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/RESOURCE-LICENSES
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/sample-project-pom.xml
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/StanfordDependenciesManual.pdf
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/sutime/british.sutime.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/sutime/defs.sutime.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/sutime/english.holidays.sutime.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/sutime/english.sutime.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/sutime/spanish.sutime.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/tokensregex/color.input.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/tokensregex/color.properties
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/tokensregex/color.rules.txt
out/production/SophomoreWorkshopLab/fileReader/src/stanford-corenlp-4.5.7/tokensregex/retokenize.txt
